---
import { Image } from "astro:assets";
import { type CollectionEntry } from "astro:content";
import Logo from "../logo.svg";
import { ButtonWithMovingBorderEffect } from "./ButtonWithMovingBorderEffect";
import { formatISO } from "date-fns";
import { Icon } from "astro-icon/components";

type Props = CollectionEntry<"mktds">;

const mktd = Astro.props;

const eventImages = import.meta.glob<{ default: ImageMetadata }>(
  "/public/events/*.{jpeg,jpg,png,gif,svg}",
);
const mktdImgSrc = eventImages[`/public/events/${mktd.data.thumbnail}`];
const formattedDate = mktd.data.date.toLocaleDateString("fr-FR", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
const date = formatISO(mktd.data.date, { representation: "date" });
const mktdIsUpcoming = mktd.data.date > new Date();
---

<section class="bg-main-900 text-white">
  <div class="p-4">
    <a href="/" aria-label="Accueil"
      ><Image
        src={Logo}
        alt="Logo MonkeyTechDays"
        width={150}
        loading="eager"
      /></a
    >
  </div>
  <div class="container m-auto flex flex-wrap justify-around gap-4 px-4 pb-8">
    <div
      class="flex flex-col items-center gap-4"
      class:list={mktdIsUpcoming ? "justify-end" : "justify-center"}
    >
      <div class="">
        <time datetime={date}>{formattedDate}</time>
        <h1 class="text-4xl font-bold">{mktd.data.name}</h1>
        <p class="text-xl first-letter:uppercase">{mktd.data.subtitle}</p>
      </div>
      {
        mktdIsUpcoming && (
          <ButtonWithMovingBorderEffect client:idle className="gap-2">
            S'inscrire
            {mktd.data.inscriptionLinks.map((inscriptionLink) => (
              <a
                rel="noopener"
                href={inscriptionLink.url}
                aria-label={inscriptionLink.type}
              >
                <Icon name={inscriptionLink.type} />
              </a>
            ))}
          </ButtonWithMovingBorderEffect>
        )
      }
    </div>
    <Image
      src={mktdImgSrc()}
      alt=""
      width={500}
      densities={[1.5, 2]}
      class="rounded-br-xl rounded-tl-xl"
      loading="eager"
    />
  </div>
</section>
