---
import { Image } from "astro:assets";

interface Props {
  type: "mktd";
  img: string;
  id: string;
  name: string;
  size?: "small" | "large";
  eagerLoading?: boolean;
}

const { img, id, name, type, size = "small", eagerLoading } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/events/*.{jpeg,jpg,png,gif}",
);
const imgSrc = images[`/src/assets/events/${img}`];
---

<a href={`${type}/${id}/`} class="block aspect-video">
  <Image
    src={imgSrc()}
    loading="lazy"
    alt={name}
    class="h-full rounded-sm object-cover"
    width={size === "small" ? 300 : 400}
    densities={[1.5, 2]}
    loading={eagerLoading ? "eager" : "lazy"}
  />
</a>
